version: '3.1'

services:
  marnvel_pg:
    image: postgres:15.4
    container_name: marnvel_pg
    restart: always
    environment:
      POSTGRES_DB: marnveldb
      POSTGRES_USER: marnvel
      POSTGRES_PASSWORD: pass
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - 5433:5432
